.login-container .actions-toolbar > .primary .action:last-child,
.login-container .actions-toolbar > .secondary .action:last-child {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.modal-footer .action-primary {
  background: #bd2967;
  border: 1px solid #bd2967;
  color: #fff;
}
.modal-footer .action-primary:hover {
  background: #9a1e51;
  border: 1px solid #bd2967;
  color: #fff;
}
.action.primary,
.review-form .action.submit.primary {
  background: #bd2967;
  border: 1px solid #bd2967;
  color: #fff;
  border-radius: 10px;
  font-family: "Poppins-Regular";
}
.action.primary:hover,
.review-form .action.submit.primary:hover {
  background: #9a1e51;
  border: 1px solid #bd2967;
  color: #fff;
}
.cart-discount .actions-toolbar .action.primary:not(:focus) {
  box-shadow: none;
}
.cart-discount .actions-toolbar .action.primary {
  background: #bd2967;
  border: 1px solid #bd2967;
  color: #fff;
  border-radius: 0px 10px 10px 0px;
}
.cart-discount .actions-toolbar .action.primary:hover {
  background: #9a1e51;
  border: 1px solid #bd2967;
  color: #fff;
}
.block-authentication .actions-toolbar > .primary .action {
  background: #bd2967;
  border: 1px solid #bd2967;
  color: #fff;
  border-radius: 5px;
  font-family: "Poppins-Regular";
}
.block-authentication .actions-toolbar > .primary .action:hover {
  background: #9a1e51;
  border: 1px solid #bd2967;
  color: #fff;
}
@media (max-width: 880px) {
  .page-main .product-item .action.primary {
    width: 170px;
    font-size: 13px;
  }
  .page-main .products-grid .product-item-info:hover .product-item-inner {
    display: flex;
  }
}
@media (max-width: 767px) {
  .login-container .actions-toolbar > .primary .action:last-child,
  .login-container .actions-toolbar > .secondary .action:last-child {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 639px) {
  .page-main .product-item .action.primary {
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  .page-main .product-item .action.primary {
    font-size: 10px;
    width: 120px;
  }
}
