@color-nav-bright: #bd2967;
@color-nav: #9a1e51;
@font-color: #fff;
@font-type: "Poppins-Regular";

.login-container {
    .actions-toolbar > .primary .action:last-child,
    .actions-toolbar > .secondary .action:last-child {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.modal-footer {
    .action-primary {
        background: @color-nav-bright;
        border: 1px solid @color-nav-bright;
        color: @font-color;

        &:hover {
            background: @color-nav;
            border: 1px solid @color-nav-bright;
            color: @font-color;
        }
    }
}

.action.primary,
.review-form .action.submit.primary {
    background: @color-nav-bright;
    border: 1px solid @color-nav-bright;
    color: @font-color;
    border-radius: 10px;
    font-family: @font-type;
    &:hover {
        background: @color-nav;
        border: 1px solid @color-nav-bright;
        color: @font-color;
    }
}

.cart-discount {
    .actions-toolbar {
        .action.primary:not(:focus) {
            box-shadow: none;
        }
        .action.primary {
            background: @color-nav-bright;
            border: 1px solid @color-nav-bright;
            color: @font-color;
            border-radius: 0px 10px 10px 0px;

            &:hover {
                background: @color-nav;
                border: 1px solid @color-nav-bright;
                color: @font-color;
            }
        }
    }
}

.block-authentication .actions-toolbar > .primary .action {
    background: @color-nav-bright;
    border: 1px solid @color-nav-bright;
    color: @font-color;
    border-radius: 5px;
    font-family: @font-type;
    &:hover {
        background: @color-nav;
        border: 1px solid @color-nav-bright;
        color: @font-color;
    }
}

.cart-container .form-cart .actions.main {
    button {
        background: @color-nav-bright;
        border: 1px solid @color-nav-bright;
        color: @font-color;
        border-radius: 5px;
        font-family: @font-type;
        &:hover {
            background: @color-nav;
            border: 1px solid @color-nav-bright;
            color: @font-color;
        }
    }
}

@media (max-width: 767px) {
    .login-container {
        .actions-toolbar > .primary .action:last-child,
        .actions-toolbar > .secondary .action:last-child {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

@media (max-width: 639px) {
    .page-main {
        .product-item .action.primary {
            font-size: 10px;
        }
    }
}

@media (max-width: 400px) {
    .page-main {
        .product-item .action.primary {
            font-size: 10px;
            width: 120px;
        }
    }
}
