@color-default: #9a1e51;
.cart-summary .checkout-methods-items .item:last-child{
    a{
        color: @color-default;
    }
}
.cart-discount .block > .title strong{
    color: @color-default;
}

@media (max-width: 900px) {
    .cart-container {
        .cart.table-wrapper .col.price,
        .cart.table-wrapper .col.subtotal {
            .price-excluding-tax {
                .price {
                    font-size: 16px;
                }
            }
        }
        .product-image-container {
            width: 140px !important;
        }
        .cart-totals .grand {
            .mark{
                font-size: 15px;
            }

            .amount {
                .price {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 830px) {
    .cart-container {
        .cart.table-wrapper .col.price,
        .cart.table-wrapper .col.subtotal {
            .price-excluding-tax {
                .price {
                    font-size: 14px;
                }
            }
        }
        .product-image-container {
            width: 120px !important;
        }
    }
}
