@color-nav-bright: #bd2967;
@color-nav: #9a1e51;
@color-gold: #87661c;
@color-text-product: #414042;
@black: #000;
@font-type: "Poppins-Regular";
.slick-prev.slick-disabled,
.slick-next.slick-disabled {
    background: none !important;
}

.slick-prev {
    background: none !important;
    margin-left: -75px;
    &::before {
        color: @color-nav-bright;
    }
}

.slick-next {
    background: none !important;
    margin-right: -65px;
    &::before {
        color: @color-nav-bright;

        &:hover {
            color: @color-nav;
        }
    }
}

.slick-prev:hover:before,
.slick-next:hover:before {
    color: @color-nav;
}
.product-item {
    .action.primary {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: 55px;
        border-radius: 10px;
        font-family: @font-type;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }
}

.product-item-actions {
    .actions-primary + .actions-secondary > .action {
        display: none;
    }
}
.product-image-wrapper {
    border-radius: 0px 15px 0px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    padding: 45px;
}

.product-item-name {
    height: 60px;
    color: @color-text-product;
    font-family: @font-type;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-item .price-box {
    margin: none;
    margin-bottom: 15px;
    span {
        color: @color-gold;
        font-family: @font-type;
        font-size: 25px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }
}

.slick-slide{
    margin-left: 5px;
}

@media (max-width: 767px) {
    .product-item {
        .action.primary {
            width: 186px;
            height: 50px;
        }
    }

    .product-image-container{
        width: 186px !important;
    }

    .product-item .price-box span {
        font-size: 20px;
    }
    .product-item-name {
        height: 40px;
        font-size: 14px;
    }

    .slick-prev {
        margin-left: -65px;
        &::before {
            font-size: 30px;
        }
    }

    .slick-next{
        width: 40px;
        height: 40px;
        margin-right: -55px ;
        &::before {
            font-size: 30px;
        }
    }
    
    .slick-slide{
        margin-left: 0px;
    }

    .column.main .product-items{
        margin-left: 3px;
    }

}

@media (max-width: 680px) {
    .product-image-container{
        width: 160px !important;
    }
}

@media (max-width: 660px) {
    .product-item {
        .action.primary {
            width: 146px;
            height: 50px;
        }
    }
}

@media (max-width: 580px) {
    .product-image-container{
        width: 140px !important;
    }
    .product-item {
        .action.primary {
            width: 120px;
            height: 45px;
        }
    }
}

@media (max-width: 500px) {

    .slick-prev {

        &::before {
            font-size: 25px;
        }
    }

    .slick-next {
        margin-right: -60px;
        width: 45px;
        height: 45px;
        &::before {
            font-size: 25px;
        }
    }
    .slick-slide{
        margin-left: 0px;
    }

    .product-item-name {
        height: 25px;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1;
    }
}

@media (max-width: 480px) {

    .product-image-container{
        width: 146px !important;
    }
}

@media (max-width: 380px) {

    .product-item {
        .action.primary {
            width: 90px;
            height: 35px;
            font-size: 16px;
        }
    }

    .product-image-container{
        width: 100px !important;
    }
}
