.column.main .product-item {
  margin-bottom: 2em;
}
.products {
  margin-left: 10vw;
}
.products .product-item .action.primary {
  width: 180px;
  font-size: 15px;
}
.products .product-item-name {
  width: 160px;
}
.sidebar .product-items .price-box {
  display: block;
  margin: 7px 0;
}
.sidebar .product-items .product-item-name {
  margin-top: 7em;
}
@media only screen and (max-width: 2200px) {
  .sidebar .product-items .product-item-details {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 1060px) {
  .sidebar .product-items .price-box {
    display: block;
    margin: 0px 0;
  }
  .block-wishlist .action.primary {
    font-size: 15px;
    padding: 8px 8px;
  }
}
@media (max-width: 767px) {
  .sidebar .product-items .product-item-details {
    margin-left: 14em;
    margin-top: 135px;
  }
  .products .product-item-name {
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
@media (max-width: 680px) {
  .sidebar .product-items .product-item-details {
    margin-left: 13em;
    margin-top: 105px;
  }
}
@media (max-width: 580px) {
  .sidebar .product-items .product-item-details {
    margin-left: 11em;
    margin-top: -1em;
  }
}
@media (max-width: 500px) {
  .sidebar .product-items .product-item-details {
    margin-top: 108px;
  }
}
@media (max-width: 450px) {
  .products .product-item .action.primary {
    width: 120px !important;
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  .products .product-item-name {
    width: 120px;
  }
  .products .product-item .price-box .price {
    font-size: 16px;
  }
}
@media (max-width: 380px) {
  .sidebar .product-items .product-item-details {
    margin-top: -35px;
    margin-left: 8em;
  }
  .products .product-item-name {
    width: 100px;
  }
  .products .product-item .action.primary {
    width: 110px !important;
    font-size: 8px;
  }
}
