@color-nav: #9a1e51;

.opc-progress-bar-item._active:before, 
.opc-progress-bar-item._active > span:before{
    background: @color-nav;
    border: @color-nav;
}

.opc-progress-bar-item._active > span:after{
    border: @color-nav;
}