.page-footer {
  background-color: #9a1e51;
}
input[type="email"] {
  background: #9a1e51;
  border-radius: 1px;
  font-size: 14px;
  height: 50px;
  color: #fff;
  border-radius: 10px 0px 0px 10px;
  border: 2px solid #ffffff;
  line-height: 1.42857143;
  padding: 0px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}
input[type="email"]::placeholder {
  color: #fff;
}
.block.newsletter .title {
  display: block;
  font-family: "Poppins-Regular";
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.block.newsletter input {
  padding: 0 0 0 10px !important;
}
.block.newsletter .action.subscribe {
  height: 50px;
  background-color: #fff;
  color: #9a1e51;
  font-family: "Poppins-Regular";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  border: none;
}
.block.newsletter .field .control:before {
  display: none;
}
