.page-footer {
  background-color: #9a1e51;
}
input[type="email"] {
  background: #9a1e51;
  border-radius: 1px;
  font-size: 14px;
  height: 50px;
  color: #fff;
  border-radius: 10px 0px 0px 10px;
  border: 2px solid #ffffff;
  line-height: 1.42857143;
  padding: 0px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}
input[type="email"]::placeholder {
  color: #fff;
}
.block.newsletter .title {
  display: block;
  font-family: "Poppins-Regular";
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.block.newsletter .title strong {
  font-size: 20px;
}
.block.newsletter input {
  padding: 0 0 0 10px !important;
}
.block.newsletter .action.subscribe {
  height: 50px;
  background-color: #fff;
  color: #9a1e51;
  font-family: "Poppins-Regular";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  border: none;
}
.block.newsletter .field .control:before {
  display: none;
}
.footer-wineclub {
  display: flex;
  font-family: "Poppins-Regular";
}
.footer-links-container-left h2,
.footer-links-container-middle h2,
.footer-links-container-right h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
}
.footer-links-container-left ul li a,
.footer-links-container-middle ul li a,
.footer-links-container-right ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.page-footer {
  display: revert;
  justify-content: center;
}
.footer.content {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
@media (max-width: 950px) {
  .footer.content ul {
    padding-right: 20px;
  }
  .block.newsletter .field.newsletter {
    max-width: 165px;
  }
}
@media (max-width: 821px) {
  .footer.content ul {
    padding-right: 0px;
  }
  .footer.content .block {
    position: absolute;
    width: 80vw;
  }
  .footer-wineclub {
    margin-top: 80px;
  }
  .footer-wineclub .footer-links-container-left,
  .footer-wineclub .footer-links-container-middle,
  .footer-wineclub .footer-links-container-right {
    padding-left: 20px;
    padding-right: 20px;
  }
  .block.newsletter {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .block.newsletter .title {
    text-align: center;
  }
  .block.newsletter .field.newsletter {
    max-width: 100%;
  }
  .block.newsletter .form.subscribe > .field,
  .block.newsletter .form.subscribe > .actions {
    float: none;
  }
}
@media (max-width: 767px) {
  .footer-wineclub {
    display: grid;
    margin-top: 80px;
    text-align: center;
  }
  .footer-wineclub .footer-links-container-left h2,
  .footer-wineclub .footer-links-container-middle h2,
  .footer-wineclub .footer-links-container-right h2 {
    text-align: center;
    margin-bottom: 5px;
  }
  .block.newsletter {
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
  }
  .block.newsletter .title {
    text-align: center;
  }
  .block.newsletter .field.newsletter {
    max-width: 100%;
  }
  .img-footer-wine {
    margin-top: 35px;
  }
}
@media (max-width: 350px) {
  .footer-wineclub {
    margin-top: 110px;
  }
}
