@panel-background: #f0f0f0;
@panel-font: #666666;
@color-nav: #40015f;
@text-color: #000;
@background: #9a1e51;
@color-border: #ccc;
@font-default: "Poppins-Regular";

html {
    scroll-behavior: smooth !important;
}

body {
    overflow-x: hidden;
    max-width: 100%;
    min-height: 100vh;
    margin-top: 0px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: @background #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: @background;
    border-radius: 15px;
    border: 3px solid #ffffff;
  }


.logo {
    margin: 0px 0px 0px 0px;
}

.page-header {
    .header.panel {
        display: flex;
        align-items: center;
        .header.links {
            .customer-welcome span button {
                margin-top: -2px;
            }
            li {

                color: @text-color;
    
                a {
                    color: @text-color;
                    font-size: 14px;
                    font-weight: bold;
                    font-family: @font-default;
                    &:hover {
                        color: @text-color;
                    }
                    &:visited {
                        color: @text-color;
                    }
                }
            }
            .customer-welcome {
                span button {
                    color: @text-color;
                }
            }
        }
    }
    .panel.wrapper {
        background-color: @panel-background;
        .switcher {
            margin-top: 5px;
            .options .action.toggle {
                color: @text-color;
            }
            strong {
                color: @text-color;
                font-family: @font-default;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
    .not-logged-in {
        display: none;
    }
}

.block-search {
    width: 310px;
    margin-top: 29px;
    margin-bottom: 29px;

    input {
        border-radius: 10px;
        font-family: @font-default;
    }
}

.minicart-wrapper {
    margin-top: 26px;
    margin-bottom: 29px;
    .action.showcart {
        display: flex;
        position: relative;
        margin: 0.2em 1.4em;
        &::before {
            content: "";
            display: block;
            margin-right: 8px;
            width: 19px;
            height: 25px;
            background: url("@{baseDir}images/mall.png");
        }
    }
    .action.showcart.active {
        &::before {
            content: "";
            margin-right: 5px;
        }
    }
    .action.showcart .counter.qty {
        background-color: @background;
    }
}

.header.content {
    padding-bottom: 30px;
}



.switcher {
    .options {
        .action.toggle {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        .view-wsvBR,
        .view-wsvEN{
            span {
                line-height: 0;
                font-size: 0;
                color: transparent;
                text-align: center;
                &::before {
                    display: inline-block;
                }
            }
        }
        .view-wsvBR {
            span {
                &::before {
                    content: url("@{baseDir}images/brasil.png");
                }
            }
        }
        .view-wsvEN{
            span {
                &::before {
                    content: url("@{baseDir}images/usa.png");
                }
            }
        }
        .dropdown.switcher-dropdown {
            min-width: 80px;
            .view-wsvEN,
            .view-wsvBR{
                a {
                    line-height: 0;
                    font-size: 0;
                    color: transparent;
                    text-align: center;
                    &::before {
                        display: inline-block;
                    }
                }
            }
            .view-wsvBR {
                a {
                    &::before {
                        content: url("@{baseDir}images/brasil.png");
                    }
                }
            }
            .view-wsvEN{
                a {
                    &::before {
                        content: url("@{baseDir}images/usa.png");
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .logo {
        margin-top: 10px;
        margin-bottom: 13px;
        width: 120px;
        height: 62px;
        padding-left: 54px;
    }
    .nav-toggle {
        padding-top: 20px;
    }
    .field.search {
        .control {
            border-top: none;
        }
    }
    .header.content {
        padding-bottom: 1px;
        border-bottom: 1px solid @color-border;
        margin-left: 10px;
        margin-right: 10px;
        .block-search {
            width: auto;
            margin-bottom: 15px;

            input {
                padding-right: none;
            }
        }
    }
    .page-header {
        border-bottom: none;
        margin-bottom: none;
    }
}

@media (max-width: 350px) {
    .logo {
        width: 100px;
        height: 42px;
        padding-left: 40px;
    }

    .header.content {
        margin-left: 0px;
        margin-right: 0px;
        z-index: 1;
    }

    .block-search .label:before {
        margin: 0px;
    }
}
