@backgroud-nav: #9a1e51;



.section-item-content  {
    background-color: @backgroud-nav;
    .navigation{
        background-color: @backgroud-nav;
    
    }
         ul{
            height: 50px;
        }
        span{
            height: 190px;
            font-family: 'Poppins-Regular';
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            /* Text style for "Roupas" */
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-transform: uppercase;
        }
  }

  .navigation .level0.active > .level-top{
    border-color: white;
  }