.section-item-content {
  background-color: #9a1e51;
}
.section-item-content .navigation {
  background-color: #9a1e51;
}
.section-item-content .navigation .level0.active > .level-top {
  border-color: #c59c3f;
}
.section-item-content .navigation .level0.active > a:not(.ui-state-active) {
  border-color: #c59c3f;
}
.section-item-content .navigation .level0 .submenu {
  border: none;
  box-shadow: none;
}
.section-item-content .navigation .level0 .submenu a {
  background-color: #9a1e51;
}
.section-item-content .navigation .level0.parent > .level-top > .ui-menu-icon::after {
  margin-top: 1.1em;
  margin-left: 0.5em;
}
.section-item-content .navigation .level0.has-active > a:not(.ui-state-active) {
  border-color: #c59c3f;
}
.section-item-content .navigation .level0.has-active > .level-top {
  border-color: #c59c3f;
}
.section-item-content .navigation .level0 .submenu .active > a {
  border-color: #c59c3f;
}
.section-item-content .navigation .submenu:not(:first-child) .active > a {
  border-color: #c59c3f;
}
.section-item-content ul {
  height: 50px;
}
.section-item-content ul li a span {
  height: 190px;
  font-family: 'Poppins-Regular';
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  /* Text style for "Vinhos" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
}
.section-item-content ul li a span:hover {
  color: #c59c3f;
}
@media (max-width: 780px) {
  .nav-open .nav-sections {
    background-color: #f0f0f0;
  }
  .section-item-content {
    background-color: #f0f0f0;
  }
  .section-item-content .navigation {
    background-color: #f0f0f0;
  }
  .section-item-content .navigation .level0 .submenu a {
    background-color: #f0f0f0;
  }
  .section-item-content .navigation span {
    color: #414042;
    font-family: 'Poppins-Regular';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.42px;
    line-height: 20px;
    text-align: left;
    /* Text style for "Vinhos" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
  }
  .section-item-content .navigation .level0.active > a:not(.ui-state-active) {
    border-color: #9a1e51;
  }
  .section-item-content .navigation .level0.has-active > a:not(.ui-state-active) {
    border-color: #9a1e51;
  }
  .section-item-content .navigation .level0.has-active > .level-top {
    border-color: #9a1e51;
  }
  .section-item-content .navigation .level0 .submenu .active > a {
    border-color: #9a1e51;
  }
  .section-item-content ul {
    height: auto;
  }
  .nav-sections-item-title {
    background-color: #dedede;
  }
  .nav-sections-item-title.active {
    background-color: #f0f0f0;
  }
  .nav-sections-item-switch {
    color: #9a1e51;
  }
  .nav-sections-item-switch:active {
    color: #9a1e51;
  }
  .nav-sections-item-switch:hover {
    color: #9a1e51;
  }
  .nav-sections .header.links li a {
    color: #414042;
    font-family: 'Poppins-Regular';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.42px;
    line-height: 20px;
    text-align: left;
    /* Text style for "Entrar" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
  }
  .nav-sections .header.links .greet.welcome {
    text-transform: none;
    font-weight: normal;
  }
}
@media (max-width: 780px) {
  .nav-sections .header.links li.greet.welcome {
    font-weight: normal;
  }
}
