@backgroud-nav: #9a1e51;
@backgroud-menu-response: #f0f0f0;
@white: white;
@text-color-grey: #414042;
@menu-background-select: #f0f0f0;
@menu-background-notSelect: #dedede;
@color-effect: #c59c3f;
@font-default: "Poppins-Regular";
.section-item-content {
    background-color: @backgroud-nav;
    .navigation {
        background-color: @backgroud-nav;

        .level0 .submenu {
            border: none;
            box-shadow: none;
            a {
                background-color: @backgroud-nav;
            }
        }
        .level0.active > .level-top,
        .level0.active > a:not(.ui-state-active),
        .level0.has-active > a:not(.ui-state-active),
        .level0.has-active > .level-top,
        .level0 .submenu .active > a,
        .submenu:not(:first-child) .active > a {
            border-color: @color-effect;
        }
    }
    ul {
        height: 50px;
        li {
            a {
                span {
                    height: 190px;
                    font-family: @font-default;
                    color: @white;
                    font-size: 18px;
                    text-align: left;
                    text-transform: uppercase;

                    &:hover {
                        color: @color-effect;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .nav-open .nav-sections,
    .section-item-content {
        background-color: @backgroud-menu-response;

        .navigation {
            background-color: @backgroud-menu-response;

            .level0 .submenu a {
                background-color: @backgroud-menu-response;
            }
            span {
                color: @text-color-grey;
                font-family: @font-default;
                font-size: 14px;
                letter-spacing: 0.42px;
                line-height: 20px;
                text-align: left;
                text-transform: uppercase;
            }
            .level0.active > a:not(.ui-state-active),
            .level0.has-active > a:not(.ui-state-active),
            .level0.has-active > .level-top,
            .level0 .submenu .active > a {
                border-color: @backgroud-nav;
            }
        }

        ul {
            height: auto;
        }
    }
    .nav-sections-item-title {
        background-color: @menu-background-notSelect;
    }
    .nav-sections-item-title.active {
        background-color: @menu-background-select;
    }
    .nav-sections-item-switch {
        color: @backgroud-nav;

        &:active,
        &:hover {
            color: @backgroud-nav;
        }
    }
    .nav-sections {
        .header.links {
            li {
                a {
                    color: @text-color-grey;
                    font-family: @font-default;
                    font-size: 14px;
                    letter-spacing: 0.42px;
                    line-height: 20px;
                    text-align: left;
                    text-transform: uppercase;
                }
            }
            .greet.welcome {
                text-transform: none;
                font-weight: normal;
            }
        }
    }
}

@media (max-width: 767px) {
    .nav-sections .header.links li.greet.welcome {
        font-weight: normal;
    }
}
