@color-nav: #9a1e51;
@color-nav-bright: #bd2967;
@font-type: "Poppins-Regular";
.minicart-wrapper .block-minicart {
    .minicart-items .product-item-name a {
        color: @color-nav;
        font-family: @font-type;
    }
    a:visited {
        color: #9a1e51;
        &:hover {
            color: @color-nav;
        }
    }
}
