@login-background: #eaeaea;
@login-font: #707070;
@carousel-font: #666666;
@purple: #6e01a5;
@midWhite: #f0f0f0;
@menuBg: #40015f;
@yellow: #fee95f;
@smoke: #f2f2f2;
@midPurple: #6e01a5;
@cleanPurple: #6215e1;
@black: #000000;
@FontDefault: 'Raleway-Regular';

.product-item-actions .actions-primary+.actions-secondary {
  display: none;
}

.abs-product-link>a:visited,
.product-item-name>a:visited,
.product-item-name>a,
.product.name a>a:visited {
  color: @carousel-font  !important;
  font-family: @FontDefault  !important;
}

.product-item-name {
  color: @carousel-font  !important;
  font-family: @FontDefault  !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  font-style: normal !important;
  letter-spacing: normal !important;
  line-height: normal !important;
  text-align: left !important;
  font-style: normal !important;
  letter-spacing: normal !important;
  line-height: normal !important;
}

.action.primary,
.action-primary {
  background-image: none;
  background: @purple;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: @FontDefault;
  padding: 8px 26px;
  box-sizing: border-box;
  vertical-align: middle;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;

  &:hover {
    background-image: none;
    background: @midPurple;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: @FontDefault;
    padding: 8px 26px;
    box-sizing: border-box;
    vertical-align: middle;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
  }
}

.slick-slide .product-item .price-box {
  margin-left: -25px !important;
}

@media only screen and (max-width: 768px) {
  #html-body [data-pb-style=CXOYCRO] {
    margin-bottom: -30px;
    margin-top: 40px;
    background-position: center center;
    background-size: contain;
    min-height: 58px;
  }
}

@media only screen and (max-width: 768px) {
  #html-body [data-pb-style=CXOYCRO] {
    margin-top: 100px;
  }
  #html-body [data-pb-style=J7BEORH] {
    margin-top: 100px;
}
}


[data-content-type='row'] li.product-item {
  text-align: center;
  margin-top: 3em;
}

.product-item .price-box .price-label {
  /* Text style for "Por:" */
  color: @carousel-font;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  font-size: 16px;
}

.product-item .price-box .price {
  /* Style for "Por: R$ 95" */
  color: @carousel-font;
  font-size: 16px;
  font-weight: 700;
}

//  .slick-prev:active,
//  .slick-prev:focus,
//  .slick-prev:not(.primary) {
//    margin-left: -71px;
//    margin-top: 87px;
//  }

//  .slick-next:active,
//  .slick-next:focus,
//  .slick-next:not(.primary) {
//    margin-right: -71px;
//    margin-top: 87px;
//  }

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: 1;
}

.product-image-wrapper {
  border: 1px solid black;
}

 @media only screen and (max-width: 1100px) {
  #html-body [data-pb-style=O90M8WJ] {
    margin-top: 100px;
  }
 }

@media only screen and (max-width: 768px) {
  #html-body [data-pb-style=FORS53K] {
    margin-top: 100px !important;
  }
}


// @media only screen and (min-width: 768px) {
//   .slick-next, .slick-next:active,
//   .slick-next:focus,
//   .slick-next:not(.primary) {
//     margin-right: -66px !important;
//     margin-top: 87px;
//     font-size: 0px !important;
// }
// .slick-next:before, .slick-next:before, .slick-next:after, .slick-next:after {
//   color: #555;
//   font-size: 22px;
//   opacity: 1;
// }

// .slick-prev,.slick-prev:active,
// .slick-prev:focus,
// .slick-prev:not(.primary) {
//   margin-left: -40px;
//   margin-top: 87px !important;
//   font-size: 0px !important;
// }

// .slick-prev:before, .slick-next:before, .slick-prev:after, .slick-next:after {
//   color: #555;
//   font-size: 22px;
//   opacity: 1;
// }
// }

//  @media only screen and (min-width: 400px) {
//   .slick-next, .slick-next:active,
//   .slick-next:focus,
//   .slick-next:not(.primary) {
//     margin-right: -18px !important;
//     margin-top: 87px;
//     font-size: 15px !important;
// }
// .slick-next:before, .slick-next:before, .slick-next:after, .slick-next:after {
//   color: #555;
//   font-size: 15px !important;
//   opacity: 1;
// }

// .slick-prev,.slick-prev:active,
// .slick-prev:focus,
// .slick-prev:not(.primary) {
//   margin-left: -2px !important;
//   margin-top: 87px !important;
//   font-size: 15px !important;
// }

// .slick-prev:before, .slick-next:before, .slick-prev:after, .slick-next:after {
//   color: #555;
//   font-size: 15px !important;
//   opacity: 1;
// }
//  }

// @media only screen and (max-width: 1100px) {
//   .product-items {
//     margin-left: 40px !important;
//     margin-right: 40px !important;
// }

// .slick-prev:before, .slick-next:before, .slick-prev:after, .slick-next:after {
//   font-size: 28px;
// }
// }

// @media only screen and (max-width: 917px) {
//   .product-items {
//     margin-left: 6px !important;
//     margin-right: 9px !important;
// }

// .slick-prev:before, .slick-next:before, .slick-prev:after, .slick-next:after {
//   font-size: 22px;
// }

// .slick-prev:active,
// .slick-prev:focus,
// .slick-prev:not(.primary) {
//   margin-left: -35px;
//   margin-top: 87px;
// }

// .slick-next:active,
// .slick-next:focus,
// .slick-next:not(.primary) {
//   margin-right: -22px;
//   margin-top: 87px;
// }
// }
#html-body [data-pb-style=NMQX3L7] {
  margin-left: 10% !important;
  margin-right: 10% !important;
}

@media only screen and (max-width: 1025px) {
  #html-body [data-pb-style=NMQX3L7] {
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
}

@media only screen and (max-width: 400px) {
  #html-body [data-pb-style=NMQX3L7] {
    margin-left: 15% !important;
    margin-right: 15% !important;
  }
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
    background: none !important;
}
.slick-prev {
    background: none !important;
    margin-top: 5% !important;
    margin-left: -70px;
}
.slick-next {
    margin-top: 5% !important;
    background: none !important;
    margin-right: -65px;
}
@media (max-width: 500px) {
    .slick-prev {
        margin-left: -20px;
        &::before {
            font-size: 25px;
        }
    }
    .slick-next {
        margin-right: -20px;
        &::before {
            font-size: 25px;
        }
    }
}