.page-footer {
  background-color: #f2f2f2;
}
.main-footer {
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 0 40px;
}
.main-footer .link1 {
  flex-grow: 0;
  flex-basis: 200px;
}
.main-footer .link2 {
  flex-grow: 0;
  flex-basis: 200px;
}
.main-footer .link3 {
  flex-grow: 0;
  flex-basis: 200px;
}
.main-footer h3 {
  font-family: 'Raleway-Regular';
  font-size: 20px;
}
.main-footer ul,
.main-footer a {
  list-style: none;
  font-family: 'Raleway-Regular';
  font-size: 18px;
  color: #000000;
}
input[type="email"] {
  background: #f2f2f2;
  border: 1px solid #101821;
  border-radius: 1px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 35px;
  line-height: 1.42857143;
  padding: 0px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}
.block.newsletter input {
  padding: 0 0 0 5px !important;
}
.block.newsletter .title {
  display: block;
  font-family: 'Raleway-Regular';
  font-weight: 700;
  color: #101821;
  text-transform: uppercase;
}
.block.newsletter .action.subscribe {
  background-color: #6e01a5;
  color: white;
  font-family: 'Raleway-Regular';
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}
.block.newsletter .field .control:before {
  display: none;
}
.copyright {
  background-color: white;
}
.copyright span {
  color: #000000;
  font-family: 'Raleway-Regular';
  font-weight: 300;
  font-size: 14px;
}
