.page-footer {
  background-color: #f2f2f2;
}
.footer.content ul > li {
  margin: 1rem !important;
}
.footer-moda {
  display: flex;
  gap: 140px;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 0 40px;
}
.footer-moda h2 {
  font-family: 'Raleway-Regular';
  font-weight: 700;
  font-size: 18px;
}
.footer-moda ul {
  margin-left: -5% !important;
}
.footer-moda ul a {
  list-style: none;
  font-family: 'Raleway-Regular';
  font-size: 18px;
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer.content {
  display: flex;
  align-items: baseline;
  margin-bottom: 50px;
}
.footer-links-container .links-left {
  width: max-content;
}
.footer-links-container .links-middle {
  width: max-content;
}
input[type="email"] {
  background: #f2f2f2;
  border: 1px solid #101821;
  border-radius: 1px;
  font-family: 'Raleway-Regular';
  font-size: 14px;
  height: 35px;
  line-height: 1.42857143;
  padding: 0px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}
input[type="email"]::-webkit-input-placeholder {
  font-size: 16px;
  color: #7f8c8d;
}
.footer.content .block {
  float: none;
  margin-left: 10%;
}
.block.newsletter {
  max-width: 100%;
}
.paragraphNewsletter {
  font-family: 'Raleway-Regular';
  font-size: 18px;
  color: #101821;
  font-weight: 400;
  margin-left: 10%;
}
.paragraphNewsletter P {
  width: 70%;
}
.paragraphNewsletter h2 {
  font-family: 'Raleway-Regular';
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.block.newsletter input {
  padding: 0 0 0 5px !important;
}
.block.newsletter .title {
  display: none;
  font-size: 18px;
  font-family: 'Raleway-Regular';
  font-weight: 700;
  color: #101821;
  text-transform: uppercase;
}
.block .title strong {
  font-size: 18px !important;
}
.social-media-footer {
  margin-left: 8%;
}
.social-media-footer ul {
  display: flex;
}
.social-media-footer ul li {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.block.newsletter .action.subscribe {
  background-color: #6e01a5;
  color: white;
  font-family: 'Raleway-Regular';
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}
.block.newsletter .field .control:before {
  display: none;
}
.copyright {
  background-color: white;
}
.copyright span {
  color: #000000;
  font-family: 'Raleway-Regular';
  font-weight: 300;
  font-size: 14px;
}
@media only screen and (max-width: 1024px) {
  .footer-moda {
    gap: 60px;
    margin-left: -5%;
  }
  .footer-links-container .links-left {
    margin-left: 5%;
  }
}
@media only screen and (max-width: 1023px) {
  .social-media-magnolia {
    margin-left: -17%;
  }
}
@media only screen and (max-width: 769px) {
  .footer-moda {
    gap: 40px;
    margin-left: -1%;
  }
  .block.newsletter input {
    text-align: center;
  }
  .block.newsletter .action.subscribe {
    width: 222px;
    text-align: center;
  }
  .social-media-magnolia {
    margin-left: -17%;
  }
  .block.newsletter .form.subscribe {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }
  .paragraphNewsletter P {
    width: 80%;
  }
}
@media only screen and (max-width: 767px) {
  .footer.content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    align-items: center;
    margin-bottom: 50px;
  }
  .footer.content ul > li {
    margin: 1rem !important;
  }
  .footer-moda {
    display: block;
    margin-left: 0%;
  }
  .social-media-magnolia {
    margin-left: 0%;
  }
  .footer-moda h2 {
    text-align: center;
  }
  .footer-moda ul,
  .footer-moda a {
    text-align: center;
  }
  .footer.content .block {
    float: none;
    margin-left: 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .paragraphNewsletter {
    text-align: center;
    margin: 0;
  }
  .paragraphNewsletter p {
    width: 100%;
  }
  .block.newsletter .form.subscribe {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }
  .block.newsletter .action.subscribe {
    width: 200px;
    text-align: center;
  }
  .social-media-footer {
    margin-left: 10%;
  }
}
