@login-background:#eaeaea;
@login-font:#707070;
@purple:#6e01a5 ;
@midWhite:#f0f0f0;
@menuBg: #40015f;
@yellow: #fee95f;
@smoke: #f2f2f2;
@midPurple:#6e01a5;
@cleanPurple:#6215e1;
@black:#000000;
@FontDefault: 'Raleway-Regular';

.not-logged-in{
    display: none;
}

.logo{
    margin-top:5px ;
    margin-bottom: 30px ;
}

#html-body [data-pb-style=X11VD1X] {
    border-radius: 0;
    min-height: 496px;
    background-color: transparent;
}

@media only screen and (max-width: 1025px){
    #html-body [data-pb-style=X11VD1X] {
        border-radius: 0;
        min-height: 496px !important;
        background-color: transparent;
    }
}

@media only screen and (max-width: 912px){
    #html-body [data-pb-style=A6A1YYF], #html-body [data-pb-style=U91K2IR] {
        background-size: contain !important;
        margin-bottom: -150px;
        margin-top: -85px;
    }
    #html-body [data-pb-style=F62JGXN], #html-body [data-pb-style=R9K294C], #html-body [data-pb-style=RP02UGY], #html-body [data-pb-style=X1MX3XF] {
        background-size: contain !important;
        margin-top: -120px !important;
        margin-bottom: -31px !important;
    }

    #html-body [data-pb-style=X11VD1X] {
        min-height: 651px !important;
    }
}

@media only screen and (max-width: 820px){
    #html-body [data-pb-style=A6A1YYF], #html-body [data-pb-style=U91K2IR] {
        background-size: contain !important;
        margin-bottom: -150px;
        margin-top: -85px;
    }
    #html-body [data-pb-style=F62JGXN], #html-body [data-pb-style=R9K294C], #html-body [data-pb-style=RP02UGY], #html-body [data-pb-style=X1MX3XF] {
        background-size: contain !important;
        margin-top: -120px !important;
        margin-bottom: -81px !important;
    }
}

@media only screen and (max-width: 768px){
    #html-body [data-pb-style=X11VD1X] {
    background-size: contain;
    }
    #html-body [data-pb-style=A6A1YYF], #html-body [data-pb-style=U91K2IR] {
        background-size: contain !important;
        margin-bottom: 0px  !important;
        margin-top: -10px  !important;
    }
    #html-body [data-pb-style=F62JGXN], #html-body [data-pb-style=R9K294C], #html-body [data-pb-style=RP02UGY], #html-body [data-pb-style=X1MX3XF] {
        background-size: contain !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
}

@media only screen and (max-width: 768px){
    #html-body [data-pb-style=JDD6SKM] {
    min-height: 65px !important;
}

.logo {
    margin-top: 5px !important;
    margin-bottom: 30px !important;
}

#html-body [data-pb-style=X11VD1X] {
    min-height: 300px !important;
}
}


@media (max-width: 768px)
{   
    .logo{
        margin-top:10px ;
        margin-bottom: 13px ;
    }
}

@media only screen and (max-width: 767px){
    #html-body [data-pb-style=JDD6SKM] {
    min-height: 180px !important;
}

}


.page-header {
    .panel.wrapper {
        background-color: @midWhite;
    }
}
.panel, .wrapper{
        .switcher-options {
            color: @login-font;
        }
};

.counter {
    background-color: @purple !important;
    margin-left: 0.6em !important;
}

.header.panel {
    .header.links {
        .authorization-link:after{
            color: @login-font;
            font-size: 14px;
           font-family: @FontDefault;
           font-weight: 500;
        }
    }
}

.block-search input{
    width: 261px;
    height: 32px;
    border: 1px solid @black;

    &::placeholder{
        color: @login-font;
        font-size: 15px;
         font-family: @FontDefault;
        font-weight: 300;
                
    }
}

.header.panel > .header.links > li > a{
    color: @login-font;
    font-family: @FontDefault;
    font-size: 14px;
    transition: 0.2s;
    font-weight: bold;

    &:hover{
        color:@black;
        transition: all ease-in 0.5s;
    }
}

.minicart-wrapper{
    .action.showcart{
        display: flex !important;
        /* topo | horizontal | inferior */
        margin:0em 1.6em ;

            &::before {
                content: '';
                display: block;
                width: 19px;
                height: 25px;
                background: url('@{baseDir}images/mall.png');
        }
    }
}

.minicart-wrapper .action.showcart.active:before  {
    content: '';
  }

  .block.block-minicart.ui-dialog-content.ui-widget-content{
      margin: 2em;
  }

  .nav-5 a span{
    font-family: @FontDefault;
    color: @yellow;
    font-weight: 700;
}