@menuBg:#40015f;
@yellow:#fee95f;
.section-item-content  {
  background-color: @menuBg;
  
       ul{
          height: 50px;
          
      }

      span{
          height: 190px;
          font-family: 'Raleway-Regular';
          color: #ffffff;
          font-size: 16px;
          font-weight: 700;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          text-align: left;
          /* Text style for "Roupas" */
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
      }
}

.navigation {
  background-color: @menuBg;
}

.level-top .ui-menu-item-wrapper{
  border-color: @yellow !important;
}