.section-item-content {
  background-color: #40015f;
}
.section-item-content ul {
  height: 50px;
}
.section-item-content li span {
  height: 190px;
  font-family: 'Raleway-Regular';
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  /* Text style for "Roupas" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.section-item-content li span:hover {
  color: #fee95f;
  transition: all ease-in 0.3s;
}
.navigation {
  background-color: #40015f;
}
.navigation .level0 .submenu {
  border: none;
  box-shadow: none;
}
.navigation .level0 .submenu a {
  background-color: #40015f;
}
.navigation .level0 .submenu a:hover {
  background-color: #40015f;
}
.navigation li.level0:last-child {
  border-bottom: none;
  border-top: none;
}
.navigation .level0 {
  border-bottom: none;
  border-top: none;
}
.navigation .level0.active > .level-top {
  border-color: #fee95f;
}
.nav-5 a span {
  font-family: 'Raleway-Regular';
  color: #6215e1;
  font-weight: 700;
}
.navigation .level0.parent > .level-top > .ui-menu-icon:after {
  content: none;
}
.nav-sections {
  background-color: #f2f2f2;
}
.nav-sections-item-switch {
  color: #000000;
}
.nav-sections-item-switch:active {
  color: #40015f;
}
.nav-sections-item-switch:hover {
  color: #40015f;
}
.nav-sections-item-title {
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}
@media (max-width: 780px) {
  .section-item-content ul {
    height: auto;
  }
  .nav-sections .header.links {
    border-bottom: none;
  }
  .nav-sections .header.links li a {
    border-top: none;
    color: #000000;
  }
  .nav-sections .header.links .greet.welcome {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .navigation .level0 > .level-top {
    font-weight: 700;
    padding: 8px 40px 8px 15px;
    text-transform: none;
    word-wrap: break-word;
  }
}
@media (max-width: 780px) {
  .nav-sections .header.links li a {
    border-top: none;
    color: #000000;
    font-family: 'Raleway-Regular';
  }
  .section-item-content {
    background-color: #f2f2f2;
  }
  .section-item-content ul {
    height: 50px;
  }
  .section-item-content li span {
    height: 190px;
    font-family: 'Raleway-Regular';
    color: #000000;
  }
  .section-item-content li span:hover {
    color: #6215e1 !important;
    transition: all ease-in 0.3s;
  }
  .section-item-content .nav-5 a span {
    font-family: 'Raleway-Regular';
    color: #6215e1;
    font-weight: 700;
  }
  .ui-menu,
  .ui-widget,
  .ui-widget-content,
  .ui-corner-all {
    background-color: #f2f2f2;
    color: #000000 !important;
  }
  .navigation .level0.active > a:not(.ui-state-active) {
    border: none;
  }
}
.nav-toggle:before {
  color: #6e01a5;
}
@media (max-width: 780px) {
  .nav-sections .header.links li a {
    border-top: none;
    font-family: 'Raleway-Regular';
  }
}
.nav-5 a span {
  font-family: 'Raleway-Regular';
  color: #fee95f;
  font-weight: 700;
}
.level0.submenu.ui-menu.ui-widget.ui-widget-content.ui-front {
  color: #40015f;
}
.nav-sections-item-switch {
  font-family: 'Raleway-Regular';
  font-weight: bold;
}
