@font-face {
  font-family: 'Raleway-Bold';
  src: url('/app/design/frontend/Webjump/Magnolia/web/fonts/Raleway-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('/app/design/frontend/Webjump/Magnolia/web/fonts/Raleway-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('/app/design/frontend/Webjump/Magnolia/web/fonts/Raleway-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
